body {
  margin: 0;
  padding: 0;
  font-family: Indivisible;
  background: #fff;
  color: #fff;
}

header {
  display: flex;
  padding: 17px 30px;
  align-items: center;
  gap: 22px;
  background: #16304e;
}

.separador_header {
  height: 56px;
  width: 2px;
  background-color: white;
}

header .Textos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

header h3 {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin: 0px;
}

header .botones {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .Textos .Separador {
  width: 1px;
  height: 12px;
  background-color: white;
}

header a {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

header .btn {
  display: none;
  margin-left: auto;
}

@media (max-width: 927px) {
  header .btn {
    display: block;
  }
  header {
    background-color: red;
  }
}
@media (max-width: 400px) {
  header .btn {
    display: block;
  }
  header {
    background-color: blueviolet;
  }
}
